@media( max-width: 800px) {
    
    }

body{
    background-color: whitesmoke;
    margin: 0%;
}

.f1{
    position: absolute;
    width: 178px;
    height: 1514px;
    left: 1178px;
    top: 374px;
    
    background: #FFEC4A;
}

.f2{
    position: absolute;
    width: 178px;
    height: 1514px;
    left: 1000px;
    top: 374px;
    
    background: #25241E; 
}

.f3{
    position: absolute;
    width: 178px;
    height: 1514px;
    left: 822px;
    top: 374px;
    
    background: #B0AB99; 
}

#principal{
    width: max-content;
}

.backg1{
    
    margin: 0px;
    width: 1356px;
    height: 300px;
    left: 0px;
    top: 0px;    
}

.imgback{
    position: absolute;
    width: 1356px;
    height: 300px;
    left: 0px;
    top: 0px;

    background: url(Imagem-Back.png);
}

.backg2{   
    position: absolute;
    width: 1356px;
    height: 96px;
    left: 0px;
    top: 300px;

    background: #C4C4C4;
}

.container {
    
    margin: 1% 0%;
    width: 640px;
    height: 68px;
    left: 0px;
    top: 301px;

}
.flex {
	display: flex;
}

@font-face {
    font-family: "Revalia";
    src: url(../fontes/Revalia-Regular.ttf);
}
.menu{
    
    margin: 2%;
    width: 160px;
    height: 50px;
    left: 0px;
    top: 300px;

    font-family: "Revalia";
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: center;

    justify-content: flex-start;
    color: #FFFFFF;
}

a{
    color: white;
    text-decoration: none;
}

.imglogo{
    position: absolute;
    width: 216px;
    height: 217px;
    left: 58px;
    top: 16px;

    background: url(novaLogo-removebg-preview.png);
}

.img1{
    position: absolute;
    width: 160px;
    height: 68px;
    left: 0px;
    top: 96px;

    background: url(Rayban-198x109.png);
}

.img2{
    position: absolute;
    width: 160px;
    height: 68px;
    left: 160px;
    top: 96px;

    background: url(Dior-198x109.png);
}

.img3{
    position: absolute;
    width: 160px;
    height: 68px;
    left: 320px;
    top: 96px;

    background: url(HB-198x109.png);
}

.imgcentral1{
    position: absolute;
    width: 459px;
    height: 659px;
    left: 180px;
    top: 530px;
    
    background: url(pexels-shvets-production-7194786.jpg);
    border-radius: 46px;
}

.imgcentral2{
    position: absolute;
    width: 459px;
    height: 589px;
    left: 180px;
    top: 1230px;

    background: url(optic-glasses-table.jpg);
    border-radius: 46px;
    transform: rotate(0.31deg);
}
